@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Manrope&family=Inter&display=swap");

tspan {
    font-family: 'Inter', sans-serif !important;
    text-shadow: #282c34;
}

.neon-text {
    color: #fff;
    text-shadow: 0 0 3px #fff,
    0 0 5px rgba(188, 19, 254, 0.24);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Constructor {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
}

.constructor-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.constructor-form > button {
    margin-top: 15px;
}

.AdminPoll {
    display: flex;
    background-color: #282c34;
    height: 100vh;
}

.chart-section {
    width: 75%;
}

.qr-code-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.qr-code-holder {
    width: calc(256px + 40px);
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.qr-code-holder {
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #38ff42,
    0 0 0.8rem #38ff42,
    0 0 2.8rem #38ff42,
    inset 0 0 1.3rem #38ff42;
}

@keyframes pulsate {

    100% {

        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #38ff42,
        0 0 80px #38ff42,
        0 0 90px #38ff42,
        0 0 100px #38ff42,
        0 0 150px #38ff42;

    }

    0% {

        text-shadow: 0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #38ff42,
        0 0 45px #38ff42,
        0 0 55px #38ff42,
        0 0 70px #38ff42,
        0 0 80px #38ff42;

    }
}

.Poll {
    background-color: #282c34;
    display: flex;
    height: 100vh;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Poll button {
    width: auto;
}

.Poll input {
    width: auto;
    margin: 5px 20px 20px;
}

.Chart {
    color: white;
    padding: 50px;
}

.Dropdown {
    color: white;
}

.Dropdown > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.Dropdown > ul > li {
    list-style: none;
    flex: 0 0 33.33333%
}

.DropdownElement {
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: white 2px solid;
    position: relative;
}

.dropdown-content {
    /*display: none;*/
    visibility: hidden;
    margin-left: -12px;
    margin-top: 2px;
    position: absolute;
    width: 100%;
    background-color: #3f3f3f;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0;
}

.DropdownElement:hover .dropdown-content {
    visibility: visible;
    top: 100%;
    transition: all .5s, background 2s .5s linear;
}

.dropdown-content > ul {
    padding-left: 0;
}

.dropdown-content > ul > li {
    list-style: none;
}