@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Manrope&family=Inter&display=swap");

tspan {
    font-family: 'Inter', sans-serif !important;
    text-shadow: #282c34;
}


.Test {
    height: 100vh;
}

.header {
    background: white;
    box-shadow: 0 .2rem .5rem #788AA3;
    height: 10vh;
    position: relative;
    z-index: 5;
}

.body {
    height: 90vh;
    display: flex;
    /*flex-direction: column;*/
    background-color: #e7ecf2;
}

.question-holder {
    font: bold 26pt Inter, sans-serif;
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    /*box-shadow: 0 .1rem .5rem #788AA3;*/
}

.data-section {
    height: 60vh;
    margin-top: 15px;
}

.chart-section {
    width: 75%;
    padding: 40px;
}

.qr-code-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Chart {
    color: white;
    padding: 50px;
}

.Dropdown {
    /*color: white;*/
    font-family: Inter, sans-serif;
}

.Dropdown > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.Dropdown > ul > li {
    list-style: none;
    flex: 0 0 33.33333%
}

.DropdownElement {
    text-align: center;
    margin: 25px 15px;
    position: relative;
}

.dropdown-label {
    background: #ffffff;
    border: white 2px solid;
    border-radius: 10px;
    box-shadow: 0 .3rem .4rem #788AA3;
    padding: 10px;
    z-index: 5;
    height: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.positives {
    box-shadow: 0 .1rem .1rem #6DA34D,
    0 .1rem 1rem #6DA34D
}

.negatives {
    box-shadow: 0 .1rem .1rem #c0103d;
}


.dropdown-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.dropdown-content {
    width: 100%;
    background-color: #DAE0E7;
    box-shadow: 0 .1rem .2rem 0 #788AA3;
    margin: -3px auto;
    overflow-y: scroll;
    z-index: 1;
    border-radius: 0 0 5px 5px;


    visibility: hidden;
    transition: visibility .5s, max-height .5s;
    max-height: 0;
}

.DropdownElement:hover .dropdown-content {
    max-height: 234px;
    visibility: visible;
}

.dropdown-content > ul {
    padding: 5px 0;
}

.dropdown-content > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content > ul > li > div {
    text-align: start;
    padding: 7px 0;
    width: 85%;
}

.dropdown-content > ul > li:not(:first-child) > div {
    border-top: 1px #7a7a7a solid;
}

